.download-btn {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 33px;
  height: 33px;
  background: #fff;
  margin-left: 20px;
  outline: none;
  cursor: pointer;
  border: 1px solid #969696;
  border-radius: 8px;
  transition: .3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  svg path, rect {
    transition: .3s;
  }

  &:hover {
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.1);
    background-color: #969696;

    svg path, rect {
      stroke: #fff;
    }
  }
}