@import '../variables';

.header {
  border-bottom: 1px solid #ccc;
  padding: 0 10px;
  min-height: 76px;
  display: flex;
  align-items: center;

  &__container {
    display: flex;
    align-items: center;
    border: 1px solid darkgreen;
    margin: 0 auto;
    max-width: 1230px;
    width: 100%;
  }
}
