.logo {
  display: flex;
  align-items: center;
  margin: 0 50px 0 0;

  &__title {
    font-family: 'PF DinDisplay Pro', Helvetica, Arial, sans-serif;
    margin-left: 10px;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 20px;
    text-transform: uppercase;
    color: #333333;
  }
}