.menu {
  display: flex;
  padding: 10px 0;
  margin-left: 15px;
flex-wrap: wrap;
  &__list-item {
    margin-left: 35px;

    //&:first-child {
    //  margin-left: 0;
    //}
  }

  &__text {
    font-family: 'PF DinDisplay Pro', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    white-space: nowrap;
    color: #969696;
  }

  &__link {
    &_active p {
      color: #439B24;
    }
  }
}