.menu {
  display: flex;
  padding: 10px 0;
  margin-left: 15px;
  @media screen and (max-width: 1220px) {
    margin-left: 0;
  }
  &__list-item {
    margin-left: 35px;
    @media screen and (max-width: 1220px) {
      margin-left: 16px;
    }
  }

  &__text {
    font-family: 'PF DinDisplay Pro', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    white-space: nowrap;
    color: #969696;

    &:hover {
      color: #cccccc;
    }
  }

  &__link {
    &_active p {
      color: #439B24;
    }
  }
}