.menu {
  display: flex;
  padding: 10px 0;

  &__list-item {
    margin-left: 25px;

    &:first-child {
      margin-left: 0;
    }
  }

  &__text {
    font-family: 'PF DinDisplay Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    white-space: nowrap;
  }

  &__link {
    &_active p {
      color: #439B24;
    }
  }
}