.about {
  border-top: 1px solid #ccc;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1230px;
    margin: 0 auto;
    padding: 10px 16px 0 16px;
  }

  &__item {
    max-width: 600px;
  }

  &__background {
    background: url("../../assets/img/background/backgroundAbout.jpg") no-repeat right;
    background-size: cover;
    min-height: 470px;
    max-width: 562px;
    width: 47%;
    margin: 60px 0 0 10px;
  }

  &__item {

  }

  &__title {
    margin: 30px 0 15px 0;
    font-family: 'PF DinDisplay Pro', Helvetica, Arial, sans-serif;
    color: #333333;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
  }

  &__text {
    font-family: 'PF DinDisplay Pro', Helvetica, Arial, sans-serif;
    color: #333333;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 25px;
    max-width: 600px;
  }
}
