.info {
  border-top: 1px solid #ccc;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1230px;
    margin: 0 auto;
    padding: 27px 10px 0px 10px;
  }

  &__item {
    max-width: 600px;
  }

  &__background {
    border: 1px solid green;
    object-position: right;
    object-fit: contain;
    min-height: 400px;
    max-width: 562px;
    width: 47%;
  }

  &__item {

  }

  &__title {
    margin: 15px 0 15px 0;
    font-family: 'PF DinDisplay Pro', Helvetica, Arial, sans-serif;
    color: #333333;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
  }

  &__text {
    font-family: 'PF DinDisplay Pro', Helvetica, Arial, sans-serif;
    color: #333333;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
    max-width: 600px;
  }

  &__link {
    font-family: 'PF DinDisplay Pro', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #439B24;

    &:hover {
      border-bottom: 1px solid #439B24;
    }
  }
}
