.info {
  border-top: 1px solid #ccc;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1230px;
    margin: 0 auto;
    padding: 27px 10px 0px 10px;
  }

  &__item {
    max-width: 600px;
  }

  &__background {
    //border: 1px solid green;
    object-position: center;
    object-fit: scale-down;
    min-height: 260px;
    min-width: 200px;
    max-width: 562px;
    margin: 0 auto;

    &_grid {
      display: grid;
      grid-template: repeat(5, 62px)/repeat(3, 180px);
      grid-auto-rows: minmax(62px, 62px);
      grid-template-columns: repeat(auto-fit, 177px);
      grid-gap: 20px 14px;
      align-items: center;
      justify-items: center;
      justify-content: center;
    }
  }

  &__company-logo {
    max-height: 62px;
    justify-content: center;
    display: flex;
  }

  &__item {

  }

  &__title {
    margin: 15px 0 15px 0;
    font-family: 'PF DinDisplay Pro', Helvetica, Arial, sans-serif;
    color: #333333;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
  }

  &__subtitle {
    margin: 15px 0 15px 0;
    font-family: 'PF DinDisplay Pro', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
  }

  &__text {
    font-family: 'PF DinDisplay Pro', Helvetica, Arial, sans-serif;
    color: #333333;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
    max-width: 600px;
  }

  &__link {
    font-family: 'PF DinDisplay Pro', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #439B24;

    &:hover {
      border-bottom: 1px solid #439B24;
    }
  }
}
