.cover {
  display: flex;
  min-height: 410px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;

  &__background {
    background: url("../../assets/img/background/background1.jpg") no-repeat right;
    background-size: cover;
    width: 47%;
    box-shadow: -60px 0px 25px 0px rgba(255, 255, 255, 0.85) inset;
    -webkit-box-shadow: -60px 0px 25px 0px rgba(255, 255, 255, 0.85) inset;
    -moz-box-shadow: -60px 0px 25px 0px rgba(255, 255, 255, 0.85) inset;
    @media screen and (max-width: 770px) {
      width: 20%;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 10px 20px 130px;
    max-width: 655px;
    width: 100%;
    @media screen and (max-width: 770px) {
      padding: 10px 20px 20px 100px;
    }
  }

  &__title {
    font-family: 'PF DinDisplay Pro', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 25px;
    margin-top: 90px;

    @media screen and (max-width: 580px) {
      font-size: 18px;
      line-height: 24px;
      margin-top: 40px;
    }
  }

  &__link {
    font-family: 'PF DinDisplay Pro', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #439B24;
    border-bottom: 1px solid #439B24;
    margin-top: 20px;

    &:hover {
      color: #19692c;
      cursor: pointer;
    }
  }
}

.shadow {

}