.download-btn {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 33px;
  height: 33px;
  background: #fff;
  margin-left: 20px;
  outline: none;
  cursor: pointer;
  border: 1px solid #969696;
  border-radius: 8px;
}