.bannerServices {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  @media screen and (max-width: 1050px) {
    max-width: 880px;
  }
  @media screen and (max-width: 790px) {
    max-width: 600px;
    padding-top: 25px;
  }

  &__column {
    @media screen and (max-width: 860px) {
      margin: 0 15px;
      &:nth-of-type(2) {
        order: 3;
      }
    }

  }

  &__item {
    display: flex;
    min-width: 230px;
    max-width: 320px;
    width: 100%;
    margin-bottom: 15px;
    @media screen and (max-width: 790px) {
      margin-bottom: 25px;
    }
  }

  &__text {
    font-family: 'PF DinDisplay Pro', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-left: 27px;
    color: #333333;
  }
}