.results {
  max-width: 1200px;
  margin: 0 auto;
}

.res-header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  min-height: 56px;

  &__wrapper {
    //border: 1px solid red;
    display: flex;
    align-items: center;
  }

  &__title {
    font-family: 'PF DinDisplay Pro', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #333333;
    margin-right: 8px;
  }
  &__link {
    font-family: 'PF DinDisplay Pro', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    &_theme_green {
      color: #439B24;

      &:hover {
        border-bottom: 1px solid #439B24;
      }
    }


  }
}

.res {
  border: 1px solid #969696;
  border-radius: 3px;
}

.res-cont {
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 3px;
  width: 100%;
  min-height: 45px;


  &__list {
    &:hover {
      background: rgba(67, 155, 36, 0.1);

      .res-cont__sum {
        color: #439B24;
      }
    }
  }

  &__item-list {
    font-family: 'PF DinDisplay Pro', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    height: 45px;
    text-align: center;
    padding: 8px 0;
    color: #333333;

    &_head {
      background-color: #EBEBEB;
      cursor: context-menu;

    }
  }

  &__sum {
    display: block;
    margin-top: 4px;
    margin-left: 26px;
    text-align: left;
    font-family: 'PF DinDisplay Pro', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #969696;
  }
}