.results {
  border: 1px solid black;
  max-width: 1230px;
  margin: 0 auto;
  //min-height: 400px;
}

.results-header {
  border: 1px solid black;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  padding: 0 10px;

  &__title {
    font-family: 'PF DinDisplay Pro', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #333333;
  }
}

.result-container {
  padding: 0 10px;
  min-height:200px;
  border: 3px solid #dba0a0;
  border-radius: 4px;
}