.footer {
  min-height: 180px;
  display: flex;
  justify-content: space-between;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 8px 0 30px 0;
    flex-wrap: wrap;
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
  }

  &__item {
    padding: 20px 10px;
  }

  &__wrapperText {
    margin-top: 20px;
  }

  &__text {
    color: #969696;
    font-family: 'PF DinDisplay Pro', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }

}