.footer {
  border-top: 1px solid #ccc;
  min-height: 180px;
  display: flex;
  justify-content: space-between;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 40px 0;
    flex-wrap: wrap;
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid;
    border: 1px solid;
  }

  &__item {
    border: 1px solid greenyellow;
    padding: 20px 10px;
  }
}