@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('./fonts/PFDinDisplayPro-Black.eot');
  src: local('./fonts/PFDinDisplayPro-Black'), local('PFDinDisplayPro-Black'),
  url('./fonts/PFDinDisplayPro-Black.eot?#iefix') format('embedded-opentype'),
  url('./fonts/PFDinDisplayPro-Black.woff2') format('woff'),
  url('./fonts/PFDinDisplayPro-Black.woff') format('woff'),
  url('./fonts/PFDinDisplayPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('./fonts/PFDinDisplayPro-Regular.eot');
  src: local('./fonts/PFDinDisplayPro-Regular'), local('PFDinDisplayPro-Regular'),
  url('./fonts/PFDinDisplayPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('./fonts/PFDinDisplayPro-Regular.woff2') format('woff'),
  url('./fonts/PFDinDisplayPro-Regular.woff') format('woff'),
  url('./fonts/PFDinDisplayPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
